body{
    background-color: #222;
    color: #292929;
    padding-top: 140px;
}
.bg{
    background: url(https://unsplash.it/g/2000/1000/?random&blur&gravity=center);
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 700px;
    margin: auto;
    background-size: cover;
    z-index: -10;
    opacity: 0.2;
}
.name{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 20px;
    margin: auto;
    width: 670px;
    height: 110px;
    font-size: 75px;
    font-family: fantasy;
    text-shadow:
    rgba(230, 230, 230, 0.1) 0px -10px 60px,
    rgba(230, 230, 230, 0.2) 10px 0px 60px,
    rgba(230, 230, 230, 0.1) 0px 10px 60px,
    rgba(230, 230, 230, 0.2) -10px 0px 60px;
}
.edit-btns-position label{
  color: #e8e7e7;
}
.text_area{
    background: #FFF;
    color: #292929;
    padding: 250px 0 30px 0;
    margin-top: -200px;
    font-size: 18px;
}
.text_area section{
    background-color: #fcfcfc;
    padding: 20px 10px;
    margin: 15px 0px;
    border: 1px solid #e4e4e4;
}
pre.initial{
    display: initial;
    padding: initial;
    margin: initial;
    font-size: initial;
    line-height: initial;
    color: initial;
    word-break: initial;
    word-wrap: initial;
    background-color: initial;
    border: initial;
    border-radius: initial;
}
.faded {
    color: #929292;
}
.faded strong{
    color: #000;
}
.options-table td{
    font-size: 15px;
}